.appContainer{
  margin: 10px
}

.nav{
  background-color: purple;
  color: white;
  border-radius: 20px;
  border: 3px solid black;
}

.navItemContainer{
  display: flex;
  justify-content: space-around;
}

.navItemContainer > li {
  font-size: 24px;
  list-style: none;
}

.jumbotron {
    border: 3px solid blue;
    background-color: gray;
    margin-top: 20px;
    text-align: center;
}

.section {
    text-align: center;
    border: 3px solid black;
    margin-top: 20px;
}
